.contenedor{
    width: 960px;    
    margin:auto;
}
body { 
    background-color: rgb(243, 241, 239);
    font-family: monospace;
 }
 h2{
    color: rgb(244, 75, 13);
 }
button{
    width: 100px;
    height: 30px;
    background-color: rgb(7, 227, 251);
}
img{
    width: 450px;
    height: 350px;
    
}